@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<BdayaBlazor.Components.InputFields.BdayaColorPicker></BdayaBlazor.Components.InputFields.BdayaColorPicker>
<SurveyPrompt Title="How is Blazor working for you?" />
